* { margin: 0px; padding: 0px; }

body {
  background-image: url(bgi.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
}

#manu-item-home span { color: #417E8A; }

#manu-item-home a #underline-text {
  height: 1px;
  width: 43.45px;
  background-color: #417E8A;
  margin: 0px auto;
}

.mid-blank { width: 30.5%; }

.mid-blank-text {
  font-family: Franklin Gothic Medium;
  text-decoration: underline;
  width: 300px;
  padding: 138% 0px 20px 250%;
}

.content {
  width: 100%;
  height: 895px;
  padding-top: 105px;
  background-color: white;
}

.con {
  margin: 0 auto;
  width: 70%;
  min-width: 1000px;
  height: 1000px;
}

#first { margin-bottom: 120px; }

#first-title {
  text-align: center;
  margin: 0px auto;
  width: 150px;
  margin-bottom: 28px;
}

#first-title h3 { font-family: Franklin Gothic Medium; }

#first-title p { font-family: Papyrus; font-size: small; }

#imgs {
  width: 1000px;
  height: 325px;
  margin: 0px auto;
}

.item {
  width: 270px;
  height: 325px;
  float: left;
  margin: 0px 31.02px;
  text-align:center;
}

.item a {
  position: absolute;
  width: 270px;
  height: 325px;
  text-decoration: none;
  color: rgba(255,255,255, 0);
  font-family: Tahoma;
  /*这里的 z-index: 用途为使这个a标签在菜单的下面, 有一个参数, 值越大的在上面*/
  z-index: 1;
}

.item a:link p { margin-top: 110px; }
.item a:link p1 { margin-top: 110px; }

.item a:visited {
  position: absolute;
  width: 270px;
  height: 325px;
  color: rgba(255,255,255, 1);
}

.item a:hover {
  position: absolute;
  width: 270px;
  height: 325px;
  background: rgba(61,125,140,0.75);
  /*这里使得 hover 改变背景颜色的速度变慢，并且平滑过渡颜色*/
  -webkit-transition:all 0.8s ease 0s;
}

.item a:hover p { 
  color: rgba(255,255,255, 1);
  margin-top: 113px;
  -webkit-transition:all 0.5s ease 0s;
}

.item a:hover p1 {
  color: rgba(255,255,255, 1);
  margin-top: 118px;
  -webkit-transition:all 0.2s ease 0.3s;
}
